// Fonts
$ffmain: "Poppins", sans-serif;

// Colors
$ccontent: #f6f6f7;
$cwhite: #fff;
//
$ccorp: #28c358;
$cdark: #16191c;
$cborder: #788186;
$ctext: #909599;
$cblue: #0735bf;
$ccolumn: #e3e3e7;
$ctab: #fcfcfc;
$canswer: #f0f0f0;

//

// Reset small
body {
    background-color: $ccontent;
}

div.container {
    width: 1300px;
    margin: 0 auto;
}

div.admin_wrap {
    display: grid;
    grid-template-columns: 270px 1fr;
    aside {
        position: sticky;
        height: 100vh;
        left: 0;
        top: 0;
        background-color: $cdark;
        div.logo {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 105px;
            margin-bottom: 60px;
            border-bottom: 1px solid rgba($cborder, 0.2);
        }
        nav {
            &.admin_nav {
                padding: 0 12px;
                ul {
                    li {
                        list-style-type: none;
                        a {
                            display: flex;
                            flex: 1;
                            align-items: center;
                            height: 60px;
                            padding: 0 40px;
                            color: $cborder;
                            font-family: $ffmain;
                            text-decoration: none;
                            border: 2px solid transparent;
                            border-radius: 5px;
                            transition: all 0.4s ease-in-out;
                            svg {
                                margin-right: 10px;
                                path {
                                    &.pathclass {
                                        fill: $ctext;
                                        transition: all 0.4s ease-in-out;
                                    }
                                }
                            }
                            span {
                                flex: 1;
                            }
                            &:hover {
                                color: $cwhite;
                                border: 2px solid $ccorp;
                                box-shadow: 0 0 5px $ccorp;
                                transition: all 0.4s ease-in-out;
                                svg {
                                    path {
                                        &.pathclass {
                                            fill: $ccorp;
                                            transition: all 0.4s ease-in-out;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    div.admin_content {
        div.content_head {
            display: flex;
            align-items: center;
            height: 105px;
            margin-bottom: 80px;
            border-bottom: 1px solid rgba($cborder, 0.2);
            div.container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                div.page_title {
                    h1 {
                        display: flex;
                        align-items: center;
                        svg {
                            margin-right: 10px;
                        }
                        span {
                            color: $cdark;
                            font-size: 16px;
                            font-family: $ffmain;
                            font-weight: 600;
                        }
                    }
                }
                div.user_item {
                    display: flex;
                    align-items: center;
                    div.user {
                        display: flex;
                        align-items: center;
                        margin-right: 44px;
                        div.user_avatar {
                            width: 40px;
                            height: 40px;
                            margin-right: 12px;
                            border-radius: 8px;
                            overflow: hidden;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        div.user_status {
                            h3 {
                                margin-bottom: 3px;
                                color: $cdark;
                                font-size: 16px;
                                font-family: $ffmain;
                                font-weight: 600;
                                text-transform: capitalize;
                            }
                            div.role {
                                color: rgba($cdark, 0.7);
                                font-size: 14px;
                                text-transform: capitalize;
                            }
                        }
                    }
                }
            }
        }
        div.content_quiz {
            div.container {
                div.quiz_head {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 25px;
                    div.quiz_head_left {
                        display: flex;
                        align-items: center;
                        h3 {
                            margin-right: 18px;
                            color: $cdark;
                            font-size: 30px;
                            font-family: $ffmain;
                            font-weight: 600;
                        }
                        div.sorting {
                            a {
                                display: flex;
                                align-items: center;
                                color: rgba($cdark, 0.7);
                                font-size: 12px;
                                font-family: $ffmain;
                                text-decoration: none;
                                svg {
                                    margin-right: 8px;
                                }
                            }
                        }
                    }
                    div.quiz_head_right {
                        display: flex;
                        align-items: center;
                        div {
                            margin-right: 35px;
                            &:last-child {
                                margin-right: 0;
                            }
                            a {
                                display: flex;
                                align-items: center;
                                color: $cdark;
                                font-size: 12px;
                                font-family: $ffmain;
                                font-weight: 500;
                                text-decoration: none;
                                svg {
                                    margin-right: 8px;
                                }
                            }
                            &.add_question {
                                a {
                                    justify-content: center;
                                    width: 150px;
                                    height: 40px;
                                    color: $cwhite;
                                    background-color: $cblue;
                                    border-radius: 3px;
                                }
                            }
                        }
                    }
                }
                div.quiz_listing {
                    div.quiz_column {
                        div.quiz_column_head {
                            display: grid;
                            grid-template-columns: 167px 1fr 1fr 70px;
                            height: 57px;
                            background-color: $ccontent;
                            border: 1px solid $ccolumn;
                            div.column_title {
                                display: flex;
                                align-items: center;
                                padding: 0 24px;
                                color: $ctext;
                                font-size: 12px;
                                font-family: $ffmain;
                                border-right: 1px solid $ccolumn;
                                &:first-child {
                                    justify-content: center;
                                    padding: 0;
                                }
                                &:last-child {
                                    justify-content: center;
                                    padding: 0;
                                    border-right: none;
                                }
                            }
                        }
                        div.quiz_column_body {
                            div.quiz_item {
                                display: grid;
                                grid-template-columns: 167px 1fr 1fr 70px;
                                position: relative;
                                height: 110px;
                                background-color: $cwhite;
                                border-left: 1px solid $ccolumn;
                                border-right: 1px solid $ccolumn;
                                border-bottom: 1px solid $ccolumn;
                                cursor: pointer;
                                &:before {
                                    position: absolute;
                                    content: "";
                                    width: 8px;
                                    height: 100%;
                                    left: 0;
                                    top: 0;
                                    background-color: $cblue;
                                    opacity: 0;
                                    transition: all 0.2s ease-in-out;
                                }
                                div {
                                    display: flex;
                                    align-items: center;
                                    padding: 0 24px;
                                    &.quiz_photo {
                                        border-right: 1px solid $ccolumn;
                                        input {
                                            margin-right: 18px;
                                            cursor: pointer;
                                        }
                                        figure {
                                            width: 95px;
                                            height: 60px;
                                            border-radius: 2px;
                                            overflow: hidden;
                                            img {
                                                width: 100%;
                                                height: 100%;
                                                object-fit: cover;
                                            }
                                        }
                                    }
                                    &.quiz_answers {
                                        border-right: 1px solid $ccolumn;
                                        ul {
                                            display: grid;
                                            grid-gap: 10px;
                                            grid-template-columns: repeat(2, 1fr);
                                            width: 100%;
                                            li {
                                                a {
                                                    display: flex;
                                                    align-items: center;
                                                    height: 24px;
                                                    color: $cdark;
                                                    font-size: 12px;
                                                    font-family: $ffmain;
                                                    text-decoration: none;
                                                    background-color: $canswer;
                                                    border-radius: 2px;
                                                    span {
                                                        display: flex;
                                                        align-items: center;
                                                        justify-content: center;
                                                        width: 24px;
                                                        height: 24px;
                                                        margin-right: 5px;
                                                        color: $cwhite;
                                                        background-color: #707070;
                                                        &.correct {
                                                            background-color: $ccorp;
                                                        }
                                                    }
                                                    strong {
                                                        flex: 1;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    &.quiz_question {
                                        color: $cdark;
                                        font-size: 12px;
                                        font-family: $ffmain;
                                        line-height: 1.5;
                                        border-right: 1px solid $ccolumn;
                                    }
                                    &.quiz_edit {
                                        flex-direction: column;
                                        align-items: center;
                                        justify-content: center;
                                        div {
                                            margin-bottom: 10px;
                                            &:last-child {
                                                margin-bottom: 0;
                                            }
                                            a {
                                                transition: all 0.4s ease-in-out;
                                                svg {
                                                    path {
                                                        &.quizedit {
                                                            fill: rgba($ctext, 0.4);
                                                            transition: all 0.4s ease-in-out;
                                                        }
                                                    }
                                                }
                                                &:hover {
                                                    svg {
                                                        path {
                                                            &.quizedit {
                                                                fill: $cdark;
                                                                transition: all 0.4s ease-in-out;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                &:nth-child(even) {
                                    background-color: $ctab;
                                }
                                &.active {
                                    transition: all 0.2s ease-in-out;
                                    &:before {
                                        opacity: 1;
                                        transition: all 0.2s ease-in-out;
                                    }
                                }
                            }
                        }
                        div.quiz_footer {
                            height: 57px;
                            background-color: $cwhite;
                        }
                    }
                }
            }
        }
    }
}

.modal {
    width: 100%;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.6);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    &_container {
        width: 1300px;
        height: 700px;
        background-color: #fff;
        padding: 80px;

        .error {
            color: red;
        }
    }
    &_header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 40px;
        font-family: $ffmain;
        font-weight: 500;
        font-size: 29px;
        .close {
            cursor: pointer;
        }
    }

    &_content {
        display: grid;
        grid-template-columns: 490px 610px;
        grid-column-gap: 52px;

        .left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                object-fit: cover;
                width: 100%;
                height: 300px;
                margin-bottom: 17px;
            }
            div {
                width: 100%;
                height: 56px;
                margin-bottom: 56px;
                background: #e5eaf9;
                border: none;
                outline: none;
                border-radius: 6px;
                color: #0735bf;
                font-size: 14px;
                font-family: $ffmain;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                svg {
                    margin-right: 5px;
                }
            }
            input {
                padding-left: 28px;
                width: 100%;
                height: 56px;
                border: 1px solid #dcdce0;
                border-radius: 3px;
                &::placeholder {
                    color: #dcdce0;
                    font-size: 14px;
                }
            }
        }
        .right {
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            // align-items: center;
            .title {
                font-size: 20px;
                font-weight: 500;
                font-family: $ffmain;
                margin-bottom: 28px;
            }

            input {
                height: 56px;
                width: 100%;
                margin-bottom: 16px;
                background-color: #fafafa;
                padding-left: 28px;
                border: none;
                font-family: $ffmain;
                font-size: 14px;

                &.correct {
                    background-color: #eaf8ef;
                    border: 1px solid #28c358;
                }
            }

            .buttons {
                margin-top: 84px;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;

                .delete {
                    margin-right: 44px;
                    color: #a0a1a2;
                    font-size: 14px;
                    font-family: $ffmain;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    svg {
                        margin-right: 5px;
                    }
                }

                .save {
                    height: 56px;
                    width: 232px;
                    background: #0735bf;
                    border: none;
                    outline: none;
                    border-radius: 6px;
                    color: #fff;
                    font-size: 14px;
                    font-family: $ffmain;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    svg {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}
