body {
  margin: 0;
  padding: 0;
}

header {
  height: 107px;
  flex: 1;
}

.logo{
  background-color: #16191C; 
  width: 270px;
  height: 100%;
  background: url('./assets/logo.svg') no-repeat  #16191C center;
}

.sidebar {
  width: 270px;
  background-color: #16191C;
  height: 100%;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}