body {
  background-color: #f6f6f7;
}

div.container {
  width: 1300px;
  margin: 0 auto;
}

div.admin_wrap {
  display: grid;
  grid-template-columns: 270px 1fr;
}
div.admin_wrap aside {
  position: sticky;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: #16191c;
}
div.admin_wrap aside div.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 105px;
  margin-bottom: 60px;
  border-bottom: 1px solid rgba(120, 129, 134, 0.2);
}
div.admin_wrap aside nav.admin_nav {
  padding: 0 12px;
}
div.admin_wrap aside nav.admin_nav ul li {
  list-style-type: none;
}
div.admin_wrap aside nav.admin_nav ul li a {
  display: flex;
  flex: 1;
  align-items: center;
  height: 60px;
  padding: 0 40px;
  color: #788186;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
}
div.admin_wrap aside nav.admin_nav ul li a svg {
  margin-right: 10px;
}
div.admin_wrap aside nav.admin_nav ul li a svg path.pathclass {
  fill: #909599;
  transition: all 0.4s ease-in-out;
}
div.admin_wrap aside nav.admin_nav ul li a span {
  flex: 1;
}
div.admin_wrap aside nav.admin_nav ul li a:hover {
  color: #fff;
  border: 2px solid #28c358;
  box-shadow: 0 0 5px #28c358;
  transition: all 0.4s ease-in-out;
}
div.admin_wrap aside nav.admin_nav ul li a:hover svg path.pathclass {
  fill: #28c358;
  transition: all 0.4s ease-in-out;
}
div.admin_wrap div.admin_content div.content_head {
  display: flex;
  align-items: center;
  height: 105px;
  margin-bottom: 80px;
  border-bottom: 1px solid rgba(120, 129, 134, 0.2);
}
div.admin_wrap div.admin_content div.content_head div.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
div.admin_wrap div.admin_content div.content_head div.container div.page_title h1 {
  display: flex;
  align-items: center;
}
div.admin_wrap div.admin_content div.content_head div.container div.page_title h1 svg {
  margin-right: 10px;
}
div.admin_wrap div.admin_content div.content_head div.container div.page_title h1 span {
  color: #16191c;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
div.admin_wrap div.admin_content div.content_head div.container div.user_item {
  display: flex;
  align-items: center;
}
div.admin_wrap div.admin_content div.content_head div.container div.user_item div.user {
  display: flex;
  align-items: center;
  margin-right: 44px;
}
div.admin_wrap div.admin_content div.content_head div.container div.user_item div.user div.user_avatar {
  width: 40px;
  height: 40px;
  margin-right: 12px;
  border-radius: 8px;
  overflow: hidden;
}
div.admin_wrap div.admin_content div.content_head div.container div.user_item div.user div.user_avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
div.admin_wrap div.admin_content div.content_head div.container div.user_item div.user div.user_status h3 {
  margin-bottom: 3px;
  color: #16191c;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
}
div.admin_wrap div.admin_content div.content_head div.container div.user_item div.user div.user_status div.role {
  color: rgba(22, 25, 28, 0.7);
  font-size: 14px;
  text-transform: capitalize;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_head div.quiz_head_left {
  display: flex;
  align-items: center;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_head div.quiz_head_left h3 {
  margin-right: 18px;
  color: #16191c;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_head div.quiz_head_left div.sorting a {
  display: flex;
  align-items: center;
  color: rgba(22, 25, 28, 0.7);
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_head div.quiz_head_left div.sorting a svg {
  margin-right: 8px;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_head div.quiz_head_right {
  display: flex;
  align-items: center;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_head div.quiz_head_right div {
  margin-right: 35px;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_head div.quiz_head_right div:last-child {
  margin-right: 0;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_head div.quiz_head_right div a {
  display: flex;
  align-items: center;
  color: #16191c;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-decoration: none;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_head div.quiz_head_right div a svg {
  margin-right: 8px;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_head div.quiz_head_right div.add_question a {
  justify-content: center;
  width: 150px;
  height: 40px;
  color: #fff;
  background-color: #0735bf;
  border-radius: 3px;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_listing div.quiz_column div.quiz_column_head {
  display: grid;
  grid-template-columns: 167px 1fr 1fr 70px;
  height: 57px;
  background-color: #f6f6f7;
  border: 1px solid #e3e3e7;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_listing div.quiz_column div.quiz_column_head div.column_title {
  display: flex;
  align-items: center;
  padding: 0 24px;
  color: #909599;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  border-right: 1px solid #e3e3e7;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_listing div.quiz_column div.quiz_column_head div.column_title:first-child {
  justify-content: center;
  padding: 0;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_listing div.quiz_column div.quiz_column_head div.column_title:last-child {
  justify-content: center;
  padding: 0;
  border-right: none;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_listing div.quiz_column div.quiz_column_body div.quiz_item {
  display: grid;
  grid-template-columns: 167px 1fr 1fr 70px;
  position: relative;
  height: 110px;
  background-color: #fff;
  border-left: 1px solid #e3e3e7;
  border-right: 1px solid #e3e3e7;
  border-bottom: 1px solid #e3e3e7;
  cursor: pointer;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_listing div.quiz_column div.quiz_column_body div.quiz_item:before {
  position: absolute;
  content: "";
  width: 8px;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #0735bf;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_listing div.quiz_column div.quiz_column_body div.quiz_item div {
  display: flex;
  align-items: center;
  padding: 0 24px;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_listing div.quiz_column div.quiz_column_body div.quiz_item div.quiz_photo {
  border-right: 1px solid #e3e3e7;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_listing div.quiz_column div.quiz_column_body div.quiz_item div.quiz_photo input {
  margin-right: 18px;
  cursor: pointer;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_listing div.quiz_column div.quiz_column_body div.quiz_item div.quiz_photo figure {
  width: 95px;
  height: 60px;
  border-radius: 2px;
  overflow: hidden;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_listing div.quiz_column div.quiz_column_body div.quiz_item div.quiz_photo figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_listing div.quiz_column div.quiz_column_body div.quiz_item div.quiz_answers {
  border-right: 1px solid #e3e3e7;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_listing div.quiz_column div.quiz_column_body div.quiz_item div.quiz_answers ul {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_listing div.quiz_column div.quiz_column_body div.quiz_item div.quiz_answers ul li a {
  display: flex;
  align-items: center;
  height: 24px;
  color: #16191c;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  background-color: #f0f0f0;
  border-radius: 2px;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_listing div.quiz_column div.quiz_column_body div.quiz_item div.quiz_answers ul li a span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  color: #fff;
  background-color: #707070;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_listing div.quiz_column div.quiz_column_body div.quiz_item div.quiz_answers ul li a span.correct {
  background-color: #28c358;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_listing div.quiz_column div.quiz_column_body div.quiz_item div.quiz_answers ul li a strong {
  flex: 1;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_listing div.quiz_column div.quiz_column_body div.quiz_item div.quiz_question {
  color: #16191c;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  border-right: 1px solid #e3e3e7;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_listing div.quiz_column div.quiz_column_body div.quiz_item div.quiz_edit {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_listing div.quiz_column div.quiz_column_body div.quiz_item div.quiz_edit div {
  margin-bottom: 10px;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_listing div.quiz_column div.quiz_column_body div.quiz_item div.quiz_edit div:last-child {
  margin-bottom: 0;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_listing div.quiz_column div.quiz_column_body div.quiz_item div.quiz_edit div a {
  transition: all 0.4s ease-in-out;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_listing div.quiz_column div.quiz_column_body div.quiz_item div.quiz_edit div a svg path.quizedit {
  fill: rgba(144, 149, 153, 0.4);
  transition: all 0.4s ease-in-out;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_listing div.quiz_column div.quiz_column_body div.quiz_item div.quiz_edit div a:hover svg path.quizedit {
  fill: #16191c;
  transition: all 0.4s ease-in-out;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_listing div.quiz_column div.quiz_column_body div.quiz_item:nth-child(even) {
  background-color: #fcfcfc;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_listing div.quiz_column div.quiz_column_body div.quiz_item.active {
  transition: all 0.2s ease-in-out;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_listing div.quiz_column div.quiz_column_body div.quiz_item.active:before {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_listing div.quiz_column div.quiz_footer {
  height: auto;
  background-color: #fff;
  padding: 40px;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_listing div.quiz_column div.quiz_footer span a {
  text-decoration: none;
  font-size: 16px;
  color: black;
}
div.admin_wrap div.admin_content div.content_quiz div.container div.quiz_listing div.quiz_column div.quiz_footer span a.active {
  color: #28c358;
}

.modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal_container {
  width: 1300px;
  height: 700px;
  background-color: #fff;
  padding: 80px;
}
.modal_container .error {
  color: red;
}
.modal_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 29px;
}
.modal_header .close {
  cursor: pointer;
}
.modal_content {
  display: grid;
  grid-template-columns: 490px 610px;
  grid-column-gap: 52px;
}
.modal_content .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal_content .left img {
  object-fit: cover;
  width: 100%;
  height: 300px;
  margin-bottom: 17px;
}
.modal_content .left div {
  width: 100%;
  height: 56px;
  margin-bottom: 56px;
  background: #e5eaf9;
  border: none;
  outline: none;
  border-radius: 6px;
  color: #0735bf;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.modal_content .left div svg {
  margin-right: 5px;
}
.modal_content .left input {
  padding-left: 28px;
  width: 100%;
  height: 56px;
  border: 1px solid #dcdce0;
  border-radius: 3px;
}
.modal_content .left input::placeholder {
  color: #dcdce0;
  font-size: 14px;
}
.modal_content .right {
  display: flex;
  flex-direction: column;
}
.modal_content .right .title {
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-bottom: 28px;
}
.modal_content .right input {
  height: 56px;
  width: 100%;
  margin-bottom: 16px;
  background-color: #fafafa;
  padding-left: 28px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
.modal_content .right input.correct {
  background-color: #eaf8ef;
  border: 1px solid #28c358;
}
.modal_content .right .buttons {
  margin-top: 84px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.modal_content .right .buttons .delete {
  margin-right: 44px;
  color: #a0a1a2;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_content .right .buttons .delete svg {
  margin-right: 5px;
}
.modal_content .right .buttons .save {
  height: 56px;
  width: 232px;
  background: #0735bf;
  border: none;
  outline: none;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.modal_content .right .buttons .save svg {
  margin-right: 5px;
}

/*# sourceMappingURL=style.css.map */
